---
  # yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
  name: "Charts: Publish to GHCR OCI"

  on:
    release:
      types: ["published", "created"]
    workflow_dispatch: {}

  jobs:
    publish-charts:
      name: Publish chart
      permissions:
        contents: write
        packages: write
      runs-on: ubuntu-22.04
      steps:
        - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
          with:
            fetch-depth: 0

        - name: Login to GitHub Container Registry
          uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Install Helm
          uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4

        - name: Package & Push Helm Charts
          shell: bash
          run: |
            helm package deploy/helm --dependency-update
            pkg=$(ls k8s-pod-mutator-webhook-*.tgz)
            helm push "${pkg}" oci://ghcr.io/${{ github.repository }}/chart
