---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Release"

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  release:
    name: Release
    permissions:
      contents: write
      pull-requests: write
      actions: write
    runs-on: ubuntu-22.04
    steps:
      - name: release
        uses: googleapis/release-please-action@v4
        id: release
        with:
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json

      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        if: ${{ steps.release.outputs.release_created }} || ${{ steps.release.outputs.releases_created }}
        with:
          fetch-depth: 0

      - name: Dispatch Container Build Actions
        if: ${{ contains(steps.release.outputs.paths_released, '.') }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run publish-image-webhook.yaml --ref ${{ steps.release.outputs.tag_name }}
          gh workflow run publish-image-init.yaml --ref ${{ steps.release.outputs.tag_name }}

      - name: Dispatch Helm Action
        if: ${{ contains(steps.release.outputs.paths_released, 'deploy/helm') }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run charts-publish-oci.yaml --ref ${{ steps['release'].outputs['deploy/helm--tag_name'] }}
